:root {
  --dark-bg-1: #222;
  --dark-bg-2: #333;
  --dark-c-1: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-family: Comic Sans MS;
  color: var(--dark-c-1);
}

body {
  background-color: var(--dark-bg-2);
  color: var(--dark-c-1);
}

a {
  text-decoration: none !important;
  color: var(--dark-c-1);
}

.gray {
  filter: grayscale(90%);
}

.expander {
  transition: transform 0.1s, color 0.1s;
}
.expander:hover {
  transform: scale(1.3);
}
.expander-2 {
  transition: transform 0.2s;
}
.expander-2:hover {
  transform: scale(1.6);
}

.TopMenuBarContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 8vh;
  min-height: 25px;
  background-color: transparent;
  /* background-color: var(--dark-bg-1); */
  /* display: flex; */
  text-align: center;
  color: var(--dark-c-1);
  justify-content: center;
  align-items: center;
  padding: 0.5vh 0.5vw;
  font-size: 14px;
  /* -webkit-user-select: none; */
}

.RestScreenView {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .TopMenuBarContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8vh;
    min-height: 25px;
    background-color: transparent;
    /* background-color: var(--dark-bg-1); */
    /* display: flex; */
    text-align: center;
    color: var(--dark-c-1);
    justify-content: center;
    align-items: center;
    padding: 2vh 2vw;
    font-size: 13px;
    /* -webkit-user-select: none; */
  }
  .RestScreenView {
    width: 100vw;
    height: 95vh;
    overflow: hidden;
  }
}

.Dragger {
  -webkit-app-region: drag;
}
.NonDragger {
  -webkit-app-region: non-drag;
}

::-webkit-scrollbar {
  display: none !important;
}

.no-scroll {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}
.no-scroll::-webkit-scrollbar {
  display: none !important;
}

.sharp {
  border-radius: 0 !important;
  border: 0 !important;
}

.node-menu > li {
  cursor: pointer;
}
.node-menu > li:hover {
  background-color: #333 !important;
}
